<section id="map">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">მდებარეობა</h2>
                    <h3 class="section-subheading text-muted">ადვილად მისადგომი მდებარეობა, ქსნის ქუჩაზე</h3>
                    <div class="google-maps">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1487.860012017721!2d44.785381970233644!3d41.76969383816839!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40446d9a84687365%3A0x8a642fc7bc486c6c!2s35+Ksani+St%2C+Tbilisi%2C+Georgia!5e0!3m2!1sen!2s!4v1496134878201" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
</section>
